$primary: #7989c4;
$secondary: #e6e9f6;
$accent: #ff8b74;
$brand: #e6e9f6;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$typography-font-family: 'poppins', sans-serif;
